**1. What are data structures, and why are they important?**
  - Data structures are a way of organizing, storing, and managing data in a computer so that it can be accessed and used efficiently. They are crucial because they help:

  -Optimize performance (speed and memory usage)

  -Simplify code logic

  -Enable efficient data manipulation (searching, sorting, indexing)

**2.Explain the difference between mutable and immutable data types with examples.**
  - Mutable: Can be changed after creation.
  - Example: list, dict, set
  - my_list = [1, 2]
  - my_list[0] = 3  

  -Immutable: Cannot be changed after creation.It will throw an error.
  - Example: int, float, tuple, str
  -my_string = "hello";
  -my_string[0] = "H"

3. **What are the main differences between lists and tuples in Python?**
  - **List:**
    - They are mutable.
    - They are dynamic in nature.
    - Syntax : my_list=[1,2,3]
  - **Tuple:**
    - They are immutable.
    - They are fixed in nature.
    - Syntax : my_tuple=(1,2,3)

**4. Describe how dictionaries store data**
  - Dictionaries store data as key-value pairs. Keys must be immutable and unique, and values can be any type.
- Example:
  - my_details = {"name": "Sumit", "age": 30}

**5. Why might you use a set instead of a list in Python?**
  - You need unique elements and remove duplicates automatically.

**6. What is a string in Python, and how is it different from a list?**
  - A string is an immutable sequence of characters.
   - Strings: 'hello'

  - A list is a mutable sequence of elements (can be any data type).

   - Lists: ['h', 'e', 'l', 'l', 'o']

**7.  How do tuples ensure data integrity in Python?**
  - Tuples are immutable, meaning once created, their content cannot be changed. This makes them ideal for:

  - Read-only data


  - Preventing accidental modifications

**8. What is a hash table, and how does it relate to dictionaries in Python?**
  - A hash table maps keys to values using a hash function. In Python, dictionaries use hash tables internally.
  - e.g.: my_details = {"name": "Sumit", "age": 30}

**9. Can lists contain different data types in Python?**
  - Yes. Python lists can hold heterogeneous data.
  - my_list = [1, "hello", 3.14, [1, 2]]

**10.  Explain why strings are immutable in Python?**
  - Because, any operation that appears to change a string, such as concatenation or replacement, actually results in the creation of a new string object in memory, while the original string remains untouched.

**11. What advantages do dictionaries offer over lists for certain tasks?**
  - Easier to read/write than indexed lists
  - No need to search for indexes
   - Example:

     - List
       - user = ["Alice", 30]
       - user[1]  

     - Dictionary
       - user = {"name": "Alice", "age": 30}
       - user["age"]

**12. Describe a scenario where using a tuple would be preferable over a list?**
  - If you don't want your data to be changed and prefer it to be read-only, then you should choose the tuple data type over lists.

**13. How do sets handle duplicate values in Python?**
  - Sets automatically eliminate duplicates
  - sets = {1, 2, 2, 3}
  - print(sets)
  - output : (1,2,3)

**14. How does the “in” keyword work differently for lists and dictionaries?**
  - List: Checks if a value exists.
  - Dictionary: Checks if a key exists.

**15. Can you modify the elements of a tuple? Explain why or why not?**
  - No. Tuples are immutable, so elements cannot be changed after creation.
  - If we trying to do any modification in tuple,it will throw an error.

**16.  What is a nested dictionary, and give an example of its use case?**
  - A nested dictionary is a dictionary within a dictionary.
  - Example:
    - students = {
    "101": {"name": "Alice", "age": 20},
    "102": {"name": "Bob", "age": 21}
}

**17. Describe the time complexity of accessing elements in a dictionary.**
  -

**18. In what situations are lists preferred over dictionaries.**
 - When order matters
 - When using sequences or iterations
 - When there is no need for named keys

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
  - In dictionaries, the items do not have a defined order, you cannot refer to an item by using an index.
  - In dictionaries retrieve values based on their associated keys. To get a value, you must provide the exact key used during its insertion.
  - If you attempt to retrieve a value using a key that does not exist in the dictionary, Python will raise a KeyError. This signifies that the requested key was not found.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**
  - List: Access by index
    - my_list=[1,2,3,4]
    - my_list[2]
  - Dictionary: Access by key
   - user = {"name": "Alice", "age": 30}
       - user["age"]

# **Pratical Questions**

1. Write a code to create a string with your name and print it.
 -

In [ ]:
# 1. Write a code to create a string with your name and print it
name = "Sumit Thorat"
print(name)

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
a='Hello World'
len(a)

11

In [ ]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
newtext=text.replace("apple","orange")
print(newtext)

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
l=[1,2,3,4,5]
for x in l:
  print(x)

1
2
3
4
5

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lists=[1,2,3,4]
lists.append(10)
print(lists)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lists= [1, 2, 3, 4, 5]
lists.remove(3)
print(lists)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

lists= ['a', 'b', 'c', 'd']
lists[1]

'b'

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

lists= [10, 20, 30, 40, 50]
lists.reverse()
print(lists)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuples=(100,200,300)
print(my_tuples)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuples= ('red', 'green', 'blue', 'yellow')
tuples[1:]

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuples= (10, 20, 5, 15)
min(tuples)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuples= ('dog', 'cat', 'rabbit')
tuples.index('cat')

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits1=('apple','orange','kiwi')
print('kiwi' in fruits1)

fruit2=('apple','orange','banana')
print('kiwi' in fruit2)

True
False

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

sets={'a','b','c'}
type(sets)
for x in sets:
  print(x)

b
c
a

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

sets={1,2,3,4,5}
print(sets)
sets.clear()
print(sets)

{1, 2, 3, 4, 5}
set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

sets= {1, 2, 3, 4}
sets.remove(4)
print(sets)

{1, 2, 3}

In [ ]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1={1, 2, 3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1={1,2,3}
sets2={2,3,4}
print(set1.intersection(sets2))

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_profile={"name":"Sumit","age":"30","city":"Pune"}
print(my_profile)

{'name': 'Sumit', 'age': '30', 'city': 'Pune'}

In [ ]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person={'name': 'John', 'age': 25}
person['country']='USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dictionary1= {'name': 'Alice', 'age': 30}
print(dictionary1['name'])

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dictionary2= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del(dictionary2['age'])
print(dictionary2)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict1={'name': 'Alice', 'city': 'Paris'}
print('city' in dict1)

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {'a': 1, 'b': 2}
print(f"This is list items= {lst}")
print(f"This is tuple items= {tpl}")
print(f"This is dict items= {dct}")

This is list items= [1, 2, 3]
This is tuple items= (4, 5, 6)
This is dict items= {'a': 1, 'b': 2}

In [ ]:
'''27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)
'''

list1=[10,20,40,30,50]
list1.sort()
print(list1)

[10, 20, 30, 40, 50]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.

fruits3 =['apple','mango','banana','orange','grapes']
print(fruits3[3])

orange

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

a = {'x': 1, 'y': 2}
b = {'z': 3, 'w': 4}
a.update(b)
print(a)

{'x': 1, 'y': 2, 'z': 3, 'w': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.

str_list = ['apple', 'banana', 'cherry', 'apple']
str_set = set(str_list)
print(str_set)

{'banana', 'cherry', 'apple'}